	body{
		background-color: #ebebeb;
		font-family: 'Open Sans', sans-serif;
		margin: 0;
		padding: 0;

	}
	::-webkit-scrollbar {
	    background: transparent;
	    width: 5px;
	    transition: 1s;
	}
	::-webkit-scrollbar-thumb {
	    background-color: rgba(0, 0, 0, 0.2);
	}
	::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(0, 0, 0, 0.3);
	}
	input::-webkit-datetime-edit{ color: transparent; }
	input:focus::-webkit-datetime-edit{ color: #000; }
	.sec {
		width: 100%;
		color:#fff;
	}
	#sec-1 {
		background-image: url('bg.png');
		background-color: #1f1f1f;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;
		height: 100vh;
		display: flex;
		position: relative;
	}
	.content{
		padding-top:100px;
		padding-left:50px;
	}
	#sec-2 {
		background-color: #1f1f1f;
		background-size: 100%;
		background-position: 50% 50%;
		height: 100vh;
		display: flex;
		position: relative;
	}
	.right-content{
		position: absolute;
		right: 10px;
		z-index: 100;
		color: #fff;
	}
	.left-content{
		margin-top: auto; 
		color: #fff;
	}

		/*menu*/
		.overlay {
	  height: 0%;
	  width: 100%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: #0000ff;
	  overflow-y: hidden;
	  transition: 0.5s;
	}

	.overlay-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}

	.overlay a {
	  padding: 8px;
	  text-decoration: none;
	  font-size: 36px;
	  color: #f1f1f1;
	  display: block;
	  transition: 0.3s;
	}

	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}

	.overlay .closebtn {
	  position: absolute;
	  top: -9px;
	  left: 19px;
	  font-size: 60px;
	}

	.btn-open{
	  cursor: pointer;
	}


	@media screen and (max-height: 450px) {
	  .overlay {overflow-y: auto;}
	  .overlay a {font-size: 20px}
	  .overlay .closebtn {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	  }
	}

	.icon-bar {
	  width: 90px;
	  height: 100vh;
	}

	.icon-bar a {
	  display: block;
	  text-align: center;
	  padding: 16px;
	  transition: all 0.3s ease;
	  color: white;
	  font-size: 36px;
	}

	.icon-bar .nav-left:hover {
	  background-color: #000;
	}

	.active {
	  background-color: #555;
	}
